*{
  box-sizing:border-box
}
body {
  margin: 0 30px 0 30px;
  height:100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "sans-serif",'McLaren', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /* background-image:url(https://www.universalsoftware.com.br/modelos-sites/modelo02-crm/Busca/css/sky-forms/version-2.0.1/img/bg-orange.jpg);*/
  font-family: cursive;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*--------App -------------------------------*/
.App{
width:100%
}

.upperpart {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  border-bottom:grey solid 1px;
  text-align: left;
}



.carticon div{
 text-align: right;
  height:100%;
  margin-top:4vw
}

.navbarApp {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  margin-left:4vw;
  margin-right:4vw

}
.navbarApp a{
  padding:0.2vw;
  width: 100%;
  height: 100%;
  color:black; 
  text-align: center;
  text-decoration:none
}
.navbarApp .true{
  background-color: rgb(220, 221, 233);
}

/*------------catalog.js----------------- */
.all{
  margin-left:4vw;
  margin-right:4vw;

  display:flex;
  flex-wrap:wrap; 
  justify-content:space-between;

}

.all .productcontainer{
  margin-top:4vw;
  flex: 0 1 250px;
  border:solid 1px  rgb(220, 221, 233);
  display:flex;
  flex-wrap:wrap; 
  align-items: flex-end;
  text-align: left;
}

.product{
  padding:0 1vw 0 1vw;

}

.all button{
  width: 100%;
  background-color: #6772e5;
  border-radius: 2px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.all .product .productprice{
  text-align: right;
}

.imgproduct{
  margin-top:4vm;
  max-width:100%;
  max-height:200px;
  height:100%
 

}



/*----------Navbarcart------------------*/
.Navbarcart{
  margin-top:4vw;
  margin-left:8vw;
  margin-right:8vw;
  display:grid;
  grid-template-columns: repeat(3,1fr); 
}
.Navbarcart div{
  border:solid 1px  rgb(220, 221, 233);
  text-align: center;
  padding:0.2vw;
}
.Navbarcart .true{
  background-color: rgb(219, 222, 255);
}

/*----------cart products------------------*/
.cartcontainer{
  width:50%;
  margin:4vw auto 0 auto
}
.cartcontainer ol{
  list-style-type:none;
  padding-left:0
}
.paymentbutton{
  width: 100%;
  padding:0.5vw 0 0.5vw 0;
  background-color: #6772e5;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;

}
.list {
  border: solid 1px rgb(220, 221, 233);
  margin: 1vw 0 1vw 0;
  clear:both;
  padding-top: 1vw;
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-gap:1vw;
  text-align:left
}

/* .list .fistrow i{
  padding-right:0.5vw
} */
.secondrow button{
  max-width:30px;
  background-color:solid 1px rgb(220, 221, 233);

  
}
.secondrow :nth-child(1){
  margin-left:2.5vw;
}
.cartlistmessage{
    color:red
  }

/*---------cart checkout form-------------------*/
.checkoutcontainer{
margin-top:2vw;
height:100%;

}
.example {
	display: flex;
	justify-content: center;
}

.checkout {
border: 1px solid gray;
border-radius: 10px;
padding: 4% 8%;
}

.split-form {
  display: flex;
  justify-content: space-between;

  
}

input, .StripeElement  {
  display: block;
 margin: 1vw 0 3vw 0; 
  font-size: 1em;
  /* font-family: 'Source Code Pro', monospace; */
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background:  rgb(220, 221, 233);

}

.thirdrow .StripeElement{
  width:150%
}

.example button {
  display: block;
  width: 100%;
  background-color: #6772e5;
  border-radius: 2px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding:0.5vw;
}

.example .error {
  color: #c23d4b;
  margin: 1vw 0;
}

/*-------confirmation--------*/
.confirmationcontainer{
  text-align: center;
  margin-top:4vw
}

/*-------Admin--------*/

.admincontainer{
  margin:4vw
}
.navbaradmin{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom:2vw
}
.loginregister {
  display:grid;
  grid-template-columns: repeat(2,1fr);
 
}
.loginregister .register{
  grid-column:1/2;
  border-right:solid 1px rgb(220, 221, 233);
  padding-left:0.5vw;
  text-align: left;
}
.loginregister .login {
  grid-column:2/3;
  border-left:solid 1px rgb(220, 221, 233);
  text-align: left;
}



.login button, .register button{
  display: block; 
  padding:0.5vw;
  background-color: #6772e5;
  border-radius: 2px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
/*-------products list--------*/
.secretpage{
  width:100%
}
.productslist select{
  margin: 2vw 4vw 0 4vw;
  width:30vw;
  min-height:20px;
  height:2vw

}

.productslist ul{
  display:grid;
  margin-top:2vw;
  text-align: left;
  width:100%;
  grid-template-columns: repeat(1,100%);
}

.productslist form{
  display:grid;
  margin:2vw auto 0 auto;
  text-align: center;
  width:25%;
  grid-template-columns: repeat(1,100%);
}
ul li{
  margin-top:1vw;

}


.productslist button{
  width: 100%;
  background-color: #6772e5;
  border-radius: 2px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
/* media queries

@media screen and (min-width:460px) {
  * {
    font-size: 5px;
    word-break: break-word;
  }
}

@media screen and (min-width:660px) {
  * {
    color: red;
    font-size: 2px;
    word-break: break-word;
  }
}

@media screen and (min-width:960px) {
  * {
    font-size: 1em;
  }
} */